/* https://stackoverflow.com/questions/17598996/sass-use-variables-across-multiple-files */

$headerHeight: 5rem;
$footerHeight: 9.375rem;
$footerHeightMobile: 7.5rem;

$primary: #142531;
$secondary: #56a8e0;
$culturedWhite: #f5f5f5;
$onyx: #3a3e41;
$uranian-blue: #7abfed;
$carolinaBlue: #7abfed;
$littleBoyBlue: #7abfed;
$aeroBlue: #7abfed;

/* Breakpoints based off tailwindcss */
/* max-width breakpoints */
/* Is broken, needs tweaking */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;
